main{
  margin: 100px auto 130px auto;
  width: 80%;
  @import "./card";
  @import "./image_new";
  @import "./comment";


  // ポップアップメニュー
  .menu-wrap {
    position: fixed;
    /* 他の要素より上に来るようz-indexを指定 */
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background: #fff;
    opacity: 0.9;
    /* ポップアップメニューが展開する（閉じる）起点を指定 */
    transform-origin: center;
    /* ポップアップの速度を指定 */
    transition: all 500ms ease;
    .menu-list{
      padding: 10% 0;
      .menu-item,.form_submit_unit,.form_submit,#menu-close.menu.menu-close{
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }
  .hide-menu {
    /* ポップアップメニューが展開する（閉じる）方向を指定 */
    transform: scale(0, 0);
  }
}





